#sidebar-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:fit-content;
    position: fixed;
    top:-0.2vh;
    left:43vw;
    background-color: transparent;
}
.sidebar-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: fit-content;
    height: fit-content;
    margin: 0 1vw;
    background-color: transparent;
    cursor: pointer;
}
.sidebar-btn .h1{
    font-size: 1.2vw;
    color: white;
    font-weight: 540;
}
.link{
    text-decoration: none;
}
.active .h1{
    color:rgb(30, 133, 173);;
}
.active{
    border-radius: 10px;
    background-color: white;
    transition: all 0.3s linear;
}

@media only screen and (min-width:250px){
    #sidebar-div{
        display:flex;
        flex-direction: column;
        top:12vh;
        left:30vw;
        background-color:cornflowerblue;
        width:70vw;
        padding:1vh 0;
        border-radius: 10px;
    }
    .sidebar-btn{
        width:50vw;
    }
    .sidebar-btn .h1{
        font-size: 7vw;
    }
}

@media only screen and (min-width:270px){
    #sidebar-div{
        width:60vw;
        left:40vw;
    }
    .sidebar-btn{
        width:45vw;
    }
    .sidebar-btn .h1{
        font-size: 5.8vw;
    }
}

@media only screen and (min-width:375px){
    .sidebar-btn{
        width:40vw;
    }
    .sidebar-btn .h1{
        font-size: 5.2vw;
    }
}

@media only screen and (min-width:411px){
    #sidebar-div{
        width:52vw;
        left:48vw;
    }
    .sidebar-btn{
        width:30vw;
    }
    .sidebar-btn .h1{
        font-size: 4.7vw;
    }
}