#nav-bar{
    width: 100vw;
    height:7vh;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
}
#logo{
    width:15vw;
    height:5vh;
    margin-left:2vw;
    border-radius: 5px;
}
#country-btn{
    width:16vw;
    height:5vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline: none;
}
#country-btn svg{
    fill:white;
}
#hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 8vh;
    background-color: transparent;
    padding: 2% 0%;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.lines {
    width: 60%;
    background-color: white;
    padding: 3% 0%;
    margin: 6% 0%;
    border-radius: 10px;
    transition: 0.2s;
}

@media only screen and (min-width:300px){
    #country-btn{
        width:13vw;
    }
}

@media only screen and (min-width:370px){
    #logo{
        width:12vw;
    }
    #country-btn{
        width:11vw;
    }
}

@media only screen and (min-width:420px){
    #country-btn{
        width:10vw;
    }
}

@media only screen and (min-width:480px){
    #logo{
        width:10vw;
    }
    #country-btn{
        width:9vw;
    }
}

@media only screen and (min-width:530px){
    #logo{
        width:8vw;
    }
    #country-btn{
        width:8vw;
    }
}

@media only screen and (min-width:600px){
    #country-btn{
        width:7vw;
    }
}

@media only screen and (min-width:700px){
    #logo{
        width:6vw;
    }
    #country-btn{
        width:6vw;
    }
}

@media only screen and (min-width:800px){
    #logo{
        width:5vw;
        height:5vh;
        margin-left:2vw;
    }
    #hamburger-icon {
        display: none;
    }
    #country-btn{
        width:5vw;
    }
}

@media only screen and (min-width:900px){
    #country-btn{
        width:4vw;
    }
}

@media only screen and (min-width:1100px){
    #logo{
        width:4vw;
    }
    #country-btn{
        width:3.5vw;
    }
}