#nav-bar{
    width: 100vw;
    height:7vh;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
}
#logo{
    width:15vw;
    height:5vh;
    margin-left:2vw;
    border-radius: 5px;
}
#country-btn{
    width:16vw;
    height:5vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline: none;
}
#country-btn svg{
    fill:white;
}
#hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 8vh;
    background-color: transparent;
    padding: 2% 0%;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.lines {
    width: 60%;
    background-color: white;
    padding: 3% 0%;
    margin: 6% 0%;
    border-radius: 10px;
    transition: 0.2s;
}