#country-div{
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#country-con{
    width:90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding:0 1vw 2vh 1vw;
    margin:-5vh 0 0 0;
}

#country-con h2{
   font-size: 8vw;
    color: white;
}

#country-con select{
    width:78vw;
    border-radius: 10px;
    padding: 0.7vh 0;
    text-align: center;
    font-size: 5.7vw;
}

#country-text{
    color:rgb(159, 0, 0);
    text-align: center;
    font-size: 5vw;
}

#country-con button{
    margin:2vh 0;
    border-radius: 10px;
    width:40vw;
    background-color: white;
    color:cornflowerblue;
    border: none;
    outline: none;
    padding:1vh 0;
    font-size: 7vw;
    box-shadow: 2px 2px 10px 0px black;
}

#country-con button:hover{
    background-color: cornflowerblue;
    color:white;
}

@media only screen and (min-width:320px){
    #country-con{
        width:85vw;
    }
}

@media only screen and (min-width:360px){
    #country-con{
        width:80vw;
    }
    #country-con h2{
        font-size: 7vw;
    }
    #country-con select{
        width:73vw;
        font-size: 5.2vw;
    }
    #country-con button{
        width:35vw;
        font-size: 6vw;
    }
}

@media only screen and (min-width:380px){
    #country-con{
        width:72vw;
    }
    #country-con h2{
        font-size: 6vw;
    }
    #country-con select{
        width:60vw;
        font-size: 5vw;
    }
    #country-text{
        font-size: 4vw;
    }
    #country-con button{
        width:30vw;
        font-size: 5vw;
    }
}

@media only screen and (min-width:450px){
    #country-con{
        width:65vw;
    }
    #country-con h2{
        font-size: 5vw;
    }
    #country-con select{
        width:55vw;
        font-size: 4vw;
    }
    #country-text{
        font-size: 3.5vw;
    }
    #country-con button{
        width:25vw;
        font-size: 4vw;
    }
}

@media only screen and (min-width:500px){
    #country-con{
        width:55vw;
    }
    #country-con h2{
        font-size: 4.5vw;
    }
    #country-con select{
        width:45vw;
        font-size: 3.5vw;
    }
    #country-text{
        font-size: 3vw;
    }
}

@media only screen and (min-width:600px){
    #country-con{
        width:45vw;
    }
    #country-con h2{
        font-size: 4vw;
    }
    #country-con select{
        width:40vw;
        font-size: 3vw;
    }
    #country-text{
        font-size: 2.5vw;
    }
    #country-con button{
        width:20vw;
        font-size: 3.5vw;
    }
}

@media only screen and (min-width:700px){
    #country-con{
        width:40vw;
    }
    #country-con h2{
        font-size: 3.5vw;
    }
    #country-con select{
        width:35vw;
        font-size: 2.5vw;
    }
    #country-text{
        font-size: 2.3vw;
    }
    #country-con button{
        width:17vw;
        font-size: 3vw;
    }
}

@media only screen and (min-width:800px){
    #country-con{
        width:35vw;
    }
    #country-con h2{
        font-size: 3vw;
    }
    #country-con select{
        width:30vw;
        font-size: 2vw;
    }
    #country-text{
        font-size: 2vw;
    }
    #country-con button{
        width:15vw;
        font-size: 2.5vw;
    }
}

@media only screen and (min-width:900px){
    #country-con{
        width:30vw;
    }
    #country-con h2{
        font-size: 2.5vw;
    }
    #country-con select{
        width:25vw;
        font-size: 1.8vw;
    }
    #country-text{
        font-size: 1.8vw;
    }
    #country-con button{
        width:13vw;
        font-size: 2vw;
    }
}

@media only screen and (min-width:1000px){
    #country-con{
        width:28vw;
    }
    #country-con h2{
        font-size: 2.2vw;
    }
    #country-con select{
        width:23vw;
        font-size: 1.5vw;
    }
    #country-text{
        font-size: 1.5vw;
    }
    #country-con button{
        width:12vw;
        font-size: 2vw;
    }
}

@media only screen and (min-width:1150px){
    #country-con{
        width:25vw;
    }
    #country-con h2{
        font-size: 2vw;
    }
    #country-con select{
        width:20vw;
        font-size: 1.5vw;
    }
    #country-text{
        font-size: 1.4vw;
    }
    #country-con button{
        width:10vw;
        font-size: 1.5vw;
    }
}

@media only screen and (min-width:1300px){
    #country-con{
        width:20vw;
    }
    #country-con h2{
        font-size: 1.7vw;
    }
    #country-con select{
        width:18vw;
        font-size: 1.2vw;
    }
    #country-text{
        font-size: 1.2vw;
    }
    #country-con button{
        width:10vw;
        font-size: 1.3vw;
    }
}

@media only screen and (min-width:1450px){
    #country-con{
        width:17vw;
    }
    #country-con h2{
        font-size: 1.5vw;
    }
    #country-con select{
        width:16vw;
        font-size: 1vw;
    }
    #country-text{
        font-size: 1vw;
    }
    #country-con button{
        width:8vw;
        font-size: 1.2vw;
    }
}