#search-box{
    width:100vw;
    height:6vh;
    position: fixed;
    display: flex;
    align-items: center;
    background-color:white;
    box-shadow: 2px 2px 10px 0 black;
}
#search{
    width:85vw;
    height:4vh;
    padding:1vh 2vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 6vw;
    border: none;
    outline: none;
}
#cancel-btn{
    width:11vw;
    height:6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    border: none;
    outline: none;
}
.fa-solid{
    color: white;
}

@media only screen and (min-width:350px){
    #search{
        font-size: 5vw;
    }
}

@media only screen and (min-width:425px){
    #search{
        font-size: 4.5vw;
    }
}

@media only screen and (min-width:460px){
    #search-box{
        justify-content: center;
    }
    #search{
        font-size: 4vw;
        width:70vw;
        border-left:1px solid;
        outline: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    #cancel-btn{
        width:8vw;
    }
}

@media only screen and (min-width:550px){
    #search{
        font-size: 3.5vw;
        width:60vw;
    }
    #cancel-btn{
        width:6vw;
    }
}

@media only screen and (min-width:650px){
    #search{
        font-size: 3vw;
        width:50vw;
    }
}

@media only screen and (min-width:750px){
    #search{
        font-size: 2.5vw;
        width:40vw;
    }
}

@media only screen and (min-width:900px){
    #search{
        width:35vw;
        font-size: 2vw;
    }
    #cancel-btn{
        width:5vw;
    }
}

@media only screen and (min-width:1000px){
    #search{
        width:30vw;
    }
}

@media only screen and (min-width:1150px){
    #search{
        width:25vw;
        font-size: 1.7vw;
    }
}

@media only screen and (min-width:1300px){
    #search{
        width:23vw;
        font-size: 1.5vw;
    }
    #cancel-btn{
        width:4vw;
    }
}