#news-item{
    width:20vw;
    height:fit-content;
    border-radius: 10px;
    padding: 0 1vw 3vh 1vw;
}
#news-item:hover{
    box-shadow: 1px 1px 10px 0px black;
}
#h2{
    text-align: center;
    color:rgb(84, 1, 132);
}
#div{
    display: flex;
    justify-content: space-between;
    color:grey;
}
#h5 span{
    text-align: left;
}
#img{
    width:20vw;
    height:30vh;
}
#url{
    padding: 1vh 1vw;
    background-color: rgb(30, 133, 173);
    color: white;
    text-decoration: none;
    border:none;
    outline:none;
    border-radius: 5px;
    font-size: 1.2vw;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0px grey;
}
#url:hover{
    color:rgb(30, 133, 173);
    background-color: white;
    box-shadow: 2px 2px 10px 0px black;
}

@media only screen and (min-width:250px){
    #news-item{
        width:95vw;
        box-shadow: 1px 1px 10px 0px black;
    }
    #news-item:hover{
        box-shadow: none;
    }
    #img{
        width:95vw;
        height:30vh;
    }
    #url{
        font-size: 6vw;
        padding:1.2vh 5vw;
    }
}

@media only screen and (min-width:350px){
    #news-item{
        width:87vw;
    }
    #img{
        width:87vw;
    }
    #url{
        font-size: 5vw;
        padding:1.2vh 5vw;
    }
}

@media only screen and (min-width:390px){
    #news-item{
        width:75vw;
    }
    #img{
        width:75vw;
    }
    #url{
        font-size: 4.5vw;
        padding:1.2vh 5vw;
    }
}

@media only screen and (min-width:451px){
    #news-item{
        width:70vw;
    }
    #img{
        width:70vw;
    }
    #url{
        font-size: 4vw;
        padding:1.2vh 5vw;
    }
}

@media only screen and (min-width:530px){
    #news-item{
        width:45.5vw;
    }
    #img{
        width:45.5vw;
    }
    #url{
        font-size: 3vw;
        padding:1.2vh 5vw;
    }
}

@media only screen and (min-width:700px){
    #news-item{
        width:44vw;
    }
    #img{
        width:44vw;
    }
    #url{
        font-size: 2.5vw;
        padding:1.2vh 3vw;
    }
}

@media only screen and (min-width:800px){
    #news-item{
        width:37vw;
    }
    #img{
        width:37vw;
    }
    #url{
        font-size: 2vw;
        padding:1.2vh 2vw;
    }
}

@media only screen and (min-width:900px){
    #news-item{
        width:28vw;
    }
    #img{
        width:27vw;
    }
    #url{
        font-size: 1.5vw;
        padding:1.2vh 2vw;
    }
}

@media only screen and (min-width:1200px){
    #news-item{
        width:26vw;
    }
    #img{
        width:26vw;
    }
    #url{
        font-size: 1.5vw;
        padding:1.2vh 2vw;
    }
}

@media only screen and (min-width:1300px){
    #news-item{
        width:20.5vw;
    }
    #img{
        width:20.5vw;
    }
    #url{
        font-size: 1.3vw;
        padding:1.2vh 1.5vw;
    }
}