#news-item{
    width:90vw;
    height: fit-content;
    box-shadow:2px 2px 10px 0 black;
    border-radius: 10px;
    padding: 0 1.5vw 4vh 1.5vw;
    overflow: hidden;
}
#news-item:hover{
    box-shadow: none;
}
#h2{
    text-align: center;
    color:rgb(84, 1, 132);
    overflow: hidden;
    text-overflow: ellipsis;
}
#div{
    display: flex;
    justify-content: space-between;
    color:grey;
}
#h5 span{
    text-align: left;
}
#img{
    width:90vw;
    height:30vh;
}
#url{
    padding: 1vh 5vw;
    background-color: rgb(30, 133, 173);
    color: white;
    text-decoration: none;
    text-align: center;
    border:none;
    outline:none;
    border-radius: 5px;
    font-size: 6vw;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0px grey;
}
#url:hover{
    color:rgb(30, 133, 173);
    background-color: white;
    box-shadow: 2px 2px 10px 0px black;
}

@media only screen and (min-width:350px){
    #news-item{
        width: 85vw;
    }
    #img{
        width:85vw;
    }
    #url{
        font-size: 5vw;
    }
}

@media only screen and (min-width:400px){
    #news-item{
        width: 80vw;
    }
    #img{
        width:80vw;
    }
    #url{
        font-size: 4.3vw;
    }
}

@media only screen and (min-width:450px){
    #news-item{
        width: 75vw;
    }
    #img{
        width:75vw;
    }
    #url{
        font-size: 4.3vw;
    }
}

@media only screen and (min-width:500px){
    #news-item{
        width: 60vw;
    }
    #img{
        width:60vw;
    }
    #url{
        font-size: 3.5vw;
    }
}

@media only screen and (min-width:570px){
    #news-item{
        width: 43vw;
    }
    #img{
        width:43vw;
    }
    #url{
        padding: 1vh 3vw;
        font-size: 3vw;
    }
}

@media only screen and (min-width:630px){
    #news-item{
        width: 40vw;
    }
    #img{
        width:40vw;
    }
    #url{
        padding: 1vh 2.5vw;
        font-size: 2.5vw;
    }
}

@media only screen and (min-width:730px){
    #news-item{
        width: 37vw;
    }
    #img{
        width:37vw;
    }
    #url{
        padding: 1vh 2vw;
    }
}

@media only screen and (min-width:850px){
    #news-item{
        width: 35vw;
    }
    #img{
        width:35vw;
    }
    #url{
        padding: 1vh 2vw;
        font-size: 2vw;
    }
}

@media only screen and (min-width:930px){
    #news-item{
        width: 30vw;
    }
    #img{
        width:30vw;
    }
    #url{
        padding: 1vh 1.5vw;
        font-size: 2vw;
    }
}

@media only screen and (min-width:1030px){
    #news-item{
        width: 25vw;
    }
    #img{
        width:25vw;
    }
    #url{
        padding: 1vh 1.5vw;
        font-size: 1.7vw;
    }
}

@media only screen and (min-width:1130px){
    #url{
        padding: 1vh 1.2vw;
        font-size: 1.5vw;
    }
}

@media only screen and (min-width:1230px){
    #news-item{
        width: 19vw;
    }
    #img{
        width:20vw;
    }
    #url{
        padding: 1vh 1.2vw;
        font-size: 1.5vw;
    }
}

@media only screen and (min-width:1330px){
    #news-item{
        width: 20vw;
    }
    #url{
        padding: 1vh 1vw;
        font-size: 1.4vw;
    }
}