#news-item{
    width:20vw;
    height:fit-content;
    border-radius: 10px;
    padding: 0 1vw 3vh 1vw;
}
#news-item:hover{
    box-shadow: 1px 1px 10px 0px black;
}
#h2{
    text-align: center;
    color:rgb(84, 1, 132);
}
#div{
    display: flex;
    justify-content: space-between;
    color:grey;
}
#h5 span{
    text-align: left;
}
#img{
    width:20vw;
    height:30vh;
}
#url{
    padding: 1vh 1vw;
    background-color: rgb(30, 133, 173);
    color: white;
    text-decoration: none;
    border:none;
    outline:none;
    border-radius: 5px;
    font-size: 1.2vw;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0px grey;
}
#url:hover{
    color:rgb(30, 133, 173);
    background-color: white;
    box-shadow: 2px 2px 10px 0px black;
}

@media only screen and (min-width:250px){
    #news-item{
        width:95vw;
        box-shadow: 1px 1px 10px 0px black;
    }
    #news-item:hover{
        box-shadow: none;
    }
    #img{
        width:95vw;
        height:30vh;
    }
    #url{
        font-size: 6vw;
        padding:1.2vh 5vw;
    }
}

@media only screen and (min-width:350px){
    #url{
        font-size: 5vw;
        padding:1.2vh 5vw;
    }
}

@media only screen and (min-width:390px){
    #url{
        font-size: 4.5vw;
        padding:1.2vh 5vw;
    }
}