#news-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:4vh;
    padding:8vh 0 3vh 0;
    overflow: hidden;
}

@media only screen and (min-width:630px){
    #news-div{
        gap:7vh;
    }
}

@media only screen and (min-width:730px){
    #news-div{
        gap:10vh;
    }
}

@media only screen and (min-width:850px){
    #news-div{
        gap:14vh;
    }
}

@media only screen and (min-width:930px){
    #news-div{
        gap:20vh;
    }
}

@media only screen and (min-width:1030px){
    #news-div{
        gap:10vh;
    }
}

@media only screen and (min-width:1230px){
    #news-div{
        gap:4vh;
    }
}

@media only screen and (min-width:1330px){
    #news-div{
        gap:2vh;
    }
}
